@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Karla", sans-serif;
    color: #fff;
}
.page-wrapper{
    min-height: 100svh;
    background-image: radial-gradient(#0085FF 0%, #003465 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 90%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#0085FF 0%, #003465 100%);
    border-radius: 25px;
}

.header{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result{
    display: flex;
    column-gap: 10px;
}

#add-item{
    padding: 16px 48px;
    border-radius: 8px;
    background-color: #003465;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.item-container{
    width: 740px;
    padding: 40px 60px 60px;
    border: 2px solid rgba(88, 130, 193, .28) ;
    border-radius: 30px;
    background-color: rgba(88, 130, 193, .28);
    backdrop-filter: blur(17px);
    
}

#all-items{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

input{
    height: 48px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #BCBEC0;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 24px;
    color: black;

}

.input-block{
    display: grid;
    grid-template-columns: 8.5fr 3fr .5fr;
    column-gap: 24px;
}

.delete{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #003465;
    border-radius: 5px;
   
}

.fa-xmark{
    color: #FFF;
}

.footer{
    margin-top: 60px;
}

#get-result{
    width: 100%;
    text-align: center;
    padding: 16px 48px;
    border-radius: 8px;
    background-color: #003465;
    font-size: 18px;
    font-weight: 500;
    border: none;
}